* {
    box-sizing: border-box;
}

body {
    background-color: #2c3e50;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.container {
    padding: 20px;
    width: 90%;
    max-width: 450px;
    margin: 20px auto;
    position: relative;
    background-color: #34495e;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.grafik {
    fill: transparent;
    stroke: #ecf0f1;
    stroke-width: 4px;
}

.item {
    display: none;
}

.letter {
    border-bottom: 3px solid #f39c12;
    font-size: 30px;
    margin: 0 3px;
    height: 40px;
    width: 25px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: #f39c12;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, filter 0.3s ease;
}

.letter:hover {
    background-color: #3498db;
    filter: brightness(1.5);
}

#wrong-letters {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: #e74c3c;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#popup-container {
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;
}

.popup {
    background-color: #2ecc71;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 15px 10px 3px rgba(0, 0, 0, 0.1);
}

#word {
    display: flex;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

#message {
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 20px;
    border-radius: 5px;
    padding: 10px 20px;
    position: absolute;
    bottom: -80px;
    transition: transform 0.4s ease-in-out;
}

#score {
    margin-top: 20px;
    text-align: center;
}

#score p {
    font-size: 24px;
    margin-bottom: 10px;
}

#score-value {
    font-size: 36px;
    font-weight: bold;
    color: #3498db;
}

#message.show {
    transform: translateY(-80px);
}

#difficulty-buttons {
    margin-top: 20px;
}

#difficulty-buttons button {
    margin: 0 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    border: none;
    color: #fff;
    border-radius: 5px;
}

#difficulty-buttons button:hover {
    background-color: #2980b9;
}

#keyboard-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.keyboard-key {
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.keyboard-key:hover {
    background-color: #2980b9;
}
